span.wpcf7-list-item {
  margin: 0;
}

span.wpcf7-not-valid-tip {
  display: none;
}

.screen-reader-response {
  display: none;
}

.wpcf7-display-none {
  display: none;
}

.wpcf7-not-valid {
  border-color: var(--bs-danger) !important;
}

label.form-check.form-check-checkbox.not-valid {
  color: var(--bs-danger);
}

label.form-check.form-check-checkbox.not-valid.checked {
  color: currentColor;
}

button.btn.btn-primary.wpcf7-submit:disabled {
  cursor: not-allowed;
}

.wpcf7-form.submitting .wpcf7-response-output {
  display: none;
}

/* Hide HTML spinner until v5.0.0.3 form markup */
.wpcf7-submit span {
  display: none !important;
}

.wpcf7 .ajax-loader::before {
  display: none;
}

/* New spinner since v5.0.0.4 */
.wpcf7-submit {
  position: relative;
}

.wpcf7-submit .ajax-loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bs-btn-bg);
  border-radius: var(--bs-btn-border-radius);
  opacity: 0;
}

.wpcf7-form.submitting .ajax-loader {
  opacity: 1;
}