/*!
 * bS Contact Form 7
 */

.wpcf7-list-item {
  margin: 0;
}

.wpcf7-not-valid-tip,
.screen-reader-response,
.wpcf7-display-none,
.wpcf7-form.submitting .wpcf7-response-output {
  display: none;
}


.wpcf7 .ajax-loader::before {
  display: none;
}

/* New spinner since v5.0.0.4 */
.wpcf7-submit {
  position: relative;
}

.wpcf7-submit .ajax-loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bs-btn-bg);
  border-radius: var(--bs-btn-border-radius);
  opacity: 0;
}

.wpcf7-form.submitting .ajax-loader {
  opacity: 1;
}


/*
 * Validation
 */

/* Forms */

/* Valid */
.wpcf7-form.invalid .form-control,
.wpcf7-form.invalid .form-select {
  border-color: var(--bs-form-valid-border-color);
  background-repeat: no-repeat;
}

.wpcf7-form.invalid .form-control {
  background-image: var(--valid-icon);
  padding-right: calc(1.5em + 0.75rem);
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.wpcf7-form.invalid .form-control:focus,
.wpcf7-form.invalid .form-select:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-success-rgb), 0.25);
}

.wpcf7-form.invalid textarea.form-control {
  background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem);
}

.wpcf7-form.invalid .form-select {
  --bs-form-select-bg-icon: var(--valid-icon);
  padding-right: 4.125rem;
  background-position: right 0.75rem center, center right 2.25rem;
  background-size: 16px 12px, calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}


/* Invalid */
.wpcf7-not-valid.form-control,
.wpcf7-not-valid.form-select {
  border-color: var(--bs-form-invalid-border-color) !important;
  background-repeat: no-repeat;
}


.wpcf7-not-valid.form-control {
  background-image: var(--invalid-icon) !important;
  padding-right: calc(1.5em + 0.75rem);
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

textarea.wpcf7-not-valid.form-control {
  background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem);
}

.wpcf7-not-valid.form-select {
  --bs-form-select-bg-icon: var(--invalid-icon) !important;
  padding-right: 4.125rem;
  background-position: right 0.75rem center, center right 2.25rem;
  background-size: 16px 12px, calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}


.wpcf7-not-valid.form-control:focus,
.wpcf7-not-valid.form-select:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-danger-rgb), 0.25) !important;
}


/* Checks */

/* Valid */

/* Label */
.wpcf7-form.invalid .form-check-checkbox,
.wpcf7-form.invalid .form-check-radio {
  color: var(--bs-form-valid-color);
}

/* Checkbox */
.wpcf7-form.invalid .form-check-input {

  border-color: var(--bs-form-valid-border-color);
}

.wpcf7-form.invalid .form-check-input:checked {
   background-color: var(--bs-form-valid-color);
}

/* Checkbox */
.wpcf7-form.invalid .form-check-input:focus {
  border-color: var(--bs-form-valid-border-color);
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-success-rgb), 0.25) !important;
}

.wpcf7-validates-as-required.wpcf7-not-valid .form-check-checkbox,
.wpcf7-form.invalid .wpcf7-validates-as-required.wpcf7-not-valid .form-check-checkbox{
  color: var(--bs-form-invalid-color);
}

.wpcf7-validates-as-required.wpcf7-not-valid .form-check-input,
.wpcf7-form.invalid .wpcf7-validates-as-required.wpcf7-not-valid .form-check-input{
  border-color: var(--bs-form-invalid-border-color);
}

.wpcf7-validates-as-required.wpcf7-not-valid .form-check-input:focus,
.wpcf7-form.invalid .wpcf7-validates-as-required.wpcf7-not-valid .form-check-input:focus{
  border-color: var(--bs-form-invalid-border-color);
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-danger-rgb), 0.25) !important;
}


/* Acceptance */
.wpcf7-form.invalid .form-check-input.is-invalid {
    border-color: var(--bs-form-invalid-border-color);
}

.wpcf7-form.invalid .form-check-input.is-invalid:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-danger-rgb), 0.25) !important;
}


/* Fallbacks */

/* Hide HTML spinner until v5.0.0.3 form markup */
.wpcf7-submit span {
  display: none !important;
}


/* Submit as button element */
button.btn.btn-primary.wpcf7-submit:disabled {
  cursor: not-allowed;
}
