/*!
 *
 * bS Contact Form 7
 * 
 * @version 5.2.0
 */

// Hide items
.wpcf7-not-valid-tip,
.screen-reader-response,
.wpcf7-display-none,
.wpcf7-form.submitting .wpcf7-response-output,
.wpcf7 .ajax-loader::before {
  display: none;
}

// Loading spinner

// Old version, submit as a button
.wpcf7-submit {
  position: relative;

  .ajax-loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--#{$prefix}btn-bg);
    border-radius: var(--#{$prefix}btn-border-radius);
    opacity: 0;
  }
}

.wpcf7-form.submitting .ajax-loader {
  opacity: 1;
}


// Hide HTML spinner until v5.0.0.3 form markup
.wpcf7-submit span {
  display: none !important;
}


// Submit as button element
button.btn.btn-primary.wpcf7-submit:disabled {
  cursor: not-allowed;
}
